{% extends 'artstore/layout.html' %}

{% block content %}
    <div class="checkout-container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form id="checkout-form" action="{% url 'artstore:processCheckout' %}" method="POST">
                        {% csrf_token %}
                        <div id="shipping-info">
                            <p>Shipping Information:</p>
                            <div class="form-field pad-bottom">
                                <input class="form-control" type="text" name="address" placeholder="Address.." required>
                            </div>
                            <div class="form-field pad-bottom">
                                <input class="form-control" type="text" name="city" placeholder="City.." required>
                            </div>
                            <div class="form-field pad-bottom">
                                <input class="form-control" type="text" name="state" placeholder="State.." required>
                            </div>
                            <div class="form-field pad-bottom">
                                <input class="form-control" type="text" name="zipcode" placeholder="Zip code.." required>
                            </div>
                            <div class="form-field pad-bottom">
                                <input class="form-control" type="text" name="country" placeholder="country.." required>
                            </div>
                        </div>
                        <div id="cart-field">

                        </div>
                        <input id="form-button" class="btn btn-warning btn-block" type="submit" value="Continue">
                    </form>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box-element">
                    <a  class="btn btn-outline-dark" href="{% url 'artstore:cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    <div id="cart-row-container">
                    <!--dynamic rows-->
                    </div>
                    <div id="summary-container">
                    <!--  dynamic summary  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}>