{% extends 'artstore/layout.html' %}
{% load static %}

{% block content %}
    <div class="w-100 d-flex justify-content-center align-content-center mt-5">
        <div class="sign-in-box">
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-lg btn-dark btn-block" type="submit">Register</button>
            </form>
            <div class="m-2"></div>
            <p class="p text-center">already have an account <a href="{% url 'artstore:login' %}"><strong>login</strong></a> instead</p>
        </div>
    </div>
{% endblock %}